<footer class="footer mt-auto text-center py-3 fw-bold bg-dark">
  <div class="container">
    <span class="text-white">Copyright &copy; 2026 Library Management System</span>
    <br>
    <span class="text-info">UI Maintenance & Partials Updated by Danish</span>
  </div>
</footer>
